.edit-container {
  padding-top: 32rpx;
  background-color: #f6f6f6;
  min-height: 100vh;
  box-sizing: border-box;

  .submit-bar {
    margin: 64rpx 32rpx;
  }
}

.t-cell-group--card {
  margin: 0 32rpx !important;
}