.login-code {
  &__title {
    color: rgba(0, 0, 0, 0.9);
    font-size: 56rpx;
    font-weight: 600;
    line-height: 72rpx;
    padding: 16rpx 32rpx 40rpx;
  }

  &__tips {
    margin: 0 32rpx;
    color: rgba(0, 0, 0, 0.4);
    font-size: 24rpx;
    line-height: 40rpx;
  }

}
