@import '/variable.less';

.itinerary-container {
  background-color: #f5f7fa;
  padding: 32rpx 0;
  padding-bottom: 150rpx;
  min-height: calc(100vh - 200rpx);
}

/* 讓 Card 類型的 Cell Group 更好看 */
.t-cell-group--card {
  margin: 0 32rpx !important; // 讓卡片左右有間距
}

/* 狀態顏色區分 */
.status-0 {
  // 關閉
  color: #abb0b8 !important;
}

.status-1 {
  color: #0052d9 !important;
  font-weight: bold;
}

.status-2 {
  color: #8c8c8c !important;
}


.empty-state {
  padding-top: 200rpx;
  background: #f6f6f6;
}

.empty-wrapper {
  padding-top: 240rpx; // 根據你的頁頭高度調整
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .empty-text {
    color: #999999;
    font-size: 28rpx;
    margin-top: 16rpx;
  }
}


.itinerary-container {
  padding-top: 20rpx; // 與篩選區保持間距
}

.filter-section {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 16rpx 24rpx;
  gap: 16rpx;
  flex-wrap: nowrap; 

  /* 修正：針對組件標籤本身以及其內部的渲染容器 */
  t-search {
    flex: 1 !important; 
    width: 0;
    
    :deep(.t-search) {
      padding: 0 !important;
    }
  }

  t-dropdown-menu {
    flex-shrink: 0;
    width: 200rpx !important; 

    :deep(.t-dropdown-menu__bar) {
      box-shadow: none !important; 
      border-bottom: none !important;
      background: transparent !important;
      width: 200rpx  !important;
    }

    :deep(.t-dropdown-item__label) {
      justify-content: flex-end !important; 
      min-width: 100rpx;
    }
  }
}
